
/* Contact Us */
* {
    box-sizing: border-box; 
  }
  
  
  /* Style inputs */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }
  
  input[type="submit"] {
  
    color: rgb(177, 8, 8);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    background: url("img/human.jpeg") no-repeat center; 
    background-size: cover;
    border-radius: 5px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    color:black;
  }
  
  /* Clear floats after the columns */
  .row:after {
   
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
  